:root {
  --ba kground-color: #eeede7;
  --title-color: #e7d2cc;
  --navbar-background-color: #b9b7bd;
  --border-color: #868b8e;
}

html,
body {
  min-width: 290px;
  background-color: var(--background-color);
  font-family: "Source Code Pro", monospace, arial, helvetica;
  line-height: 1.5;
}
#navbar {
  top: 0;
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: var(--border-color);
  background-color: var(--navbar-background-color);
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.5em;
}
#navbar header {
  background-color: var(--title-color);
  text-align: left;
  margin: 0px;
  margin-bottom: 0;
  padding-left: 10px;
  border: 0px;
}
#navbar ul {
  margin-top: 0px;
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar li {
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}
#navbar a {
  display: block;
  padding: 15px 25px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}
#main-doc header {
  text-align: left;
  margin: 0px;
}
section div {
  margin: 15px;
  font-size: 0.9em;
}
section li {
  margin: 10px 0px 0px 25px;
}
code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: var(--border-color);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
@media (max-width: 450px) {
  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 300px;
    border: none;
    border-bottom: 2px solid;
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 250px;
  }
}
